
.card-container {
    background-color: #fff8f8;
    border-radius: 6px;
    width: 18vw;
    height: 35vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    overflow: hidden;
    
 
    border: 2.0px solid #de776c;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(255, 87, 36, 0.2);
  }

  
  .card-heading {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .card-count {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
  }

 .card-container img {
    width: 10vw;
 }
  

 .books-card img {

  width: 15vw;

 }